

@layer components {
    .body-page-main-continer-with-smilepng {
        @apply flex justify-between px-2 lg:pl-[100px] lg:pr-[150px] lg:gap-20 mb-6 items-start;
    }
    
    .main-content-responsive {
        @apply grid grid-rows-[1fr_1fr] lg:grid-cols-[minmax(40%,_430px)_1fr] lg:grid-rows-none lg:items-center md:px-24 px-2 md:justify-center mb-[55px]; 
    }

    .main-article-text-responsive {
        @apply flex flex-col md:justify-start items-center lg:items-start lg:justify-center gap-[22px] h-fit mb-8;
    }

    .main-article-text-divs-responsive {
        @apply flex flex-col items-center text-center lg:items-start lg:text-left gap-[15px];
    }

    .main-article-imgs-responsive {
        @apply flex md:gap-14 justify-center items-end 2xl:justify-end 2xl:items-end;
    }

    .main-pages-with-tables {
        @apply flex flex-col gap-5 w-full;
    }

    .main-pages-with-tables h2 {
        @apply text-xl font-extrabold;
    }

    .main-pages-with-tables section {
        @apply flex flex-col lg:max-w-[50%] gap-y-3
    }
    .main-pages-with-tables .section-title {
        @apply flex flex-col lg:flex-row gap-5;
    }
    .main-pages-with-tables .section-title .title-icon-h3-center {
        @apply flex text-center items-center;
    }
    .main-pages-with-tables .section-title .title-icon-h3-center h3{
        @apply text-2xl font-semibold;
    }
    .main-pages-with-tables .section-title .title-icon-h3-center img{
        @apply mr-2;
    }
}