
@layer components {
    .btn-primary {
        @apply flex border-[2px] border-blue-200 rounded-full w-fit h-[42px] px-5 py-2 justify-center items-center whitespace-nowrap;
    }

    .btn-secundary {
        @apply btn-primary text-xs border-white text-white border-[2px] px-5 py-[7px] w-max
    }

    .btn-primary-selected {
        @apply btn-primary bg-white text-blue-200 font-bold
    }

    .btn-primary-blue {
        @apply btn-primary bg-blue-200 text-white font-bold
    }
    
    .btn-primary-large-home {
        @apply flex border-[3px] border-blue-200 rounded-full w-[265px] h-[65px] justify-center items-center font-semibold text-blue-200 text-[20px]
    }
    .btn-form-proposta {
        @apply rounded-full py-4;
    }
    
    /* para uso de javascript */
    .btn-form-proposta-active {
        @apply btn-form-proposta bg-blue-200 text-white
    }

    .btn-form-proposta-disable {
        @apply btn-form-proposta bg-[#D4D4D4] text-gray-transparent
    }


}