
@layer components{
    .cards {
        @apply flex flex-col lg:flex-row lg:flex-wrap justify-between lg:justify-center gap-2
    }
    
    .card {
        @apply flex flex-col font-medium w-full lg:w-1/3 xl:w-1/4 h-[333px] justify-between bg-white rounded-md p-10
    }
    
    .card-title {
        @apply flex justify-between items-end font-bold text-[#0099FA] text-xl [&>img]:w-7
    }
    .card-body {
        @apply text-sm
    }
    .card-footer {
        @apply flex justify-end
    }
    
    .card-btn {
        @apply flex bg-[#0099FA] text-[#F5F5F5] rounded-full w-[150px] h-[42px] justify-center items-center
    }
}