
@layer components {

    .menu {
        display: none;
        @apply absolute origin-top-right right-0 top-9 rounded-md shadow-md p-5 z-10 bg-white focus:outline-none;
        @apply menu-tablets-screen;
    }

    .sub-menu-produtos {
        display: none;
        @apply absolute origin-top-left left-0 top-6 rounded-md shadow-md p-5 z-10 bg-white focus:outline-none;
    }
    
    /* para funções javascript */
    .menu-visible {
        display: block !important;
    }

    .nav-selected-item {
        @apply text-blue-200 font-bold;
    }
    
}