
@layer components {
    .table-zebra li {
        @apply flex justify-between bg-[#D6EFFF] mb-1 px-5 py-1.5 lg:text-[16px]
    }
    .table-zebra li:nth-child(even) {
        @apply bg-blue-100
    }
    .btn-modal-azul {
        @apply flex bg-blue-200 text-[#FFFFFF] text-[14px] font-semibold rounded-full px-5 py-2.5 justify-center items-center whitespace-nowrap
    }
}