@layer components {

    .aside {
        @apply z-50 max-admin-menu-screen:fixed top-0 left-0 admin-menu-screen:grid grid-rows-[120px_calc(100vh_-_120px)] bg-blue-200 px-5 hidden;
    }
    .admin-menu-visible {
        @apply !grid
    }
    .close-menu svg {
        @apply w-8 fill-gray-550 cursor-pointer hidden max-admin-menu-screen:flex
    }
    .type-aside-menu {
        @apply text-gray-300 font-bold mb-2;
    }
    .admin-menu-itens-list {
        @apply flex flex-col text-black gap-2;
    }
    .overflow-menu-list {
        @apply overflow-y-scroll h-[80%] max-h-[600px];
    }
    .admin-menu-itens-list a {
        @apply px-3 py-2 rounded-md text-white
    }
    .admin-menu-itens-list a li {
        @apply flex items-center justify-between
    }
    .admin-nav-selected-item {
        @apply bg-blue-900 text-white;
    }
    .button-sair-admin {
        @apply bg-gray-600 !text-blue-200 fill-blue-200
    }
}