@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./css/components.css";

@layer components {
    

    /* modal-proposta forms */

    .form1 {

        @apply flex flex-col bg-white gap-[30px] w-[50%] px-8 py-10
    }
    .input-proposta {
        @apply flex flex-col gap-2
    }
    .input-proposta label {
        @apply text-[#0099FA] text-xs font-semibold
    }
    .input-proposta input {
        @apply pb-[15px] border-b-[0.5px] border-[#4D4D4D] focus:outline-none text-[#4D4D4D] font-semibold text-base
    }
    .input-proposta span {
        @apply text-[#0099FA] font-semibold text-xs
    }


    .file-selector {
        @apply flex pb-[15px] text-[10px] border-b-[0.5px] border-[#4D4D4D] w-full whitespace-nowrap items-center
    }
    .file-selector .btn-arquivo {
        @apply bg-[#0099FA] ml-[15px] rounded-full px-4 py-2 text-white
    }
    .input-label-files label {
        @apply text-[#0099FA] text-xs font-semibold
    }
    input[type="file"] {
        @apply text-[#4d4d4d48] text-sm
    }
    input[type="file"]::file-selector-button {
        display: none;
    }



    /* modal-detalhamentos */

    .table-zebra li {
        @apply flex justify-between bg-[#D6EFFF] mb-1 px-5 py-1.5 text-[16px]
    }
    .table-zebra li:nth-child(even) {
        @apply bg-[#E5F5FF]
    }

    .btn-modal-azul {
        @apply flex bg-[#0099FA] text-[#FFFFFF] text-[14px] font-semibold rounded-full px-5 py-2.5 justify-center items-center
    }

    /* autorizacao */
    .check-termos {
        @apply flex gap-2 items-center
    }

    .check-termos input[type="checkbox"] {
        @apply appearance-none bg-white w-6 h-6 border-[1px] m-0 border-[#0099FA] rounded-[5px] flex items-center justify-center;

    }

    .check-termos input[type="checkbox"]::before {
        content: "";
        @apply w-3 h-3 bg-[#0099FA] rounded;

        transition: 120ms transform ease-in-out;
        transform: scale(0);
      }
      
      .check-termos input[type="checkbox"]:checked::before {
        transform: scale(1);
      }



}